@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #744dff;
  --main-color-dark: #4c33a5;
  --secondary-color: #7c4dff46;
  --color-dark: #1f1e20;
  --background-color: #141616;
  --highlight-color: #333435;
  --text-color: #ffffffd8;
  --button-text: var(--main-color);
  --color-dark-transparent: #1f1e20e0;

  --facebook-blue: #4267b2;
  --linkedin-blue: #0072b1;
  --github-purple: #6e5494;
  --stackoverflow-orange: #f48024;
  --spotify-green: #1db954;

  --valid-green: #3aba6f;
  --invalid-red: #f05a5c;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--text-color);
  margin: 0;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  margin: auto;
}

body {
  background-color: var(--background-color);
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  padding: 2.5rem 0;
}
a {
  cursor: pointer;
}

.main {
  color: var(--text-color);
  margin: 0 auto;
  max-width: 90%;
  width: 90%;
  margin: auto;
  flex-direction: column;
  display: flex;
  flex: 1 0 auto;
  text-align: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.nav-menu {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-item {
  margin-left: 2rem;
  padding: 5px;
  position: relative;
}

.nav-item .nav-link {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--text-color);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.nav-item::after {
  content: "";
  display: block;
  height: 4px;
  border-radius: 10px;
  background-color: var(--main-color);
  width: 100%;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1),
    -webkit-transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav-item:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-item.active::after {
  background-color: var(--main-color) !important;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.nav-item:hover .nav-link {
  color: var(--main-color);
}

.nav-item:hover {
  cursor: pointer;
}

.nav-item.active .nav-link {
  color: var(--main-color);
}

.nav-logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--main-color);
}

.hamburger {
  display: none;
}

.bar {
  cursor: pointer;
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--main-color);
}

.navbar li {
  list-style: none;
}

a {
  text-decoration: none;
}

.lock-scroll {
  position: fixed;
  overflow-y: hidden;
}

.thumbnail {
  z-index: 10;
  background-color: var(--color-dark);
  background-image: url("../resources/profilebg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

@media (max-width: 800px) {
  .nav-menu {
    z-index: 20;
    left: -100%;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    background-color: var(--background-color);
    width: 100%;
    text-align: center;
    -webkit-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    padding-top: 3rem;
    height: 100%;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .nav-item .nav-link {
    font-size: 2.5rem;
    cursor: pointer;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 21;
    padding: 3px;
    right: 5%;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }

  .thumbnail {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 1080px) {
  .main {
    max-width: 70%;
  }
}

@media (min-width: 768px) {
  .main {
    max-width: 80%;
  }
}
