.collapse {
  margin: 0px;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.301);
  border-radius: 10px;
  margin-top: 20px;
}

.collapse.active {
  color: #444;
  max-height: 100vh;
  -webkit-transition: all 0.2s, max-height 2s;
  transition: all 0.2s, max-height 2s;
}

.collapse .slide {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin: 0px !important;
  padding: 10px !important;
}

.action-btn {
  background-color: var(--color-tags);
  width: 100%;
  margin-top: 1rem;
  color: white;
  border: 2px solid white;
  font-size: 15px;
  letter-spacing: 2px;
  border-radius: 4px;
  outline: 0;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px;
  cursor: pointer;
  position: relative;
  display: block;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.action-btn:hover {
  background-color: var(--color-tags-darker);
}

.action-btn::after {
  content: '';
  display: block;
  width: 1.4em;
  height: 1.4em;
  position: absolute;
  left: calc(50% - 0.75em);
  top: calc(50% - 0.85em);
  border: 0.2em solid transparent;
  border-right-color: white;
  border-radius: 50%;
  -webkit-animation: button-anim 0.7s linear infinite;
          animation: button-anim 0.7s linear infinite;
  opacity: 0;
}

.action-btn.loading {
  color: transparent;
}

.action-btn.loading::after {
  opacity: 1;
}

.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactInfo .sides {
  width: 100%;
  background-color: white;
  padding: 12px;
  padding-bottom: 0px;
  -webkit-box-shadow: 10px 10px 16px 1px;
          box-shadow: 10px 10px 16px 1px;
  border-radius: 8px;
  margin: 20px;
}

.contactInfo .sides form {
  padding-bottom: 0px;
}

.floating {
  background-color: var(--field__background);
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
}

.floating *,
.floating *:before,
.floating *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.floating:not(:first-child) {
  margin-top: 1.5em;
}

.floating input.valid,
.floating input.valid:focus-within {
  border-color: #3aba6f !important;
}

.floating input.invalid,
.floating input.invalid:focus-within {
  border-color: #f05a5c !important;
}

.floating input.valid ~ .icons .check {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.floating input.invalid ~ .icons .x {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.floating .icons {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
  width: 40px;
  height: 100%;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.floating .icons .check {
  color: #3aba6f;
  text-shadow: 0px 5px 10px rgba(58, 186, 111, 0.3);
}

.floating .icons .x {
  color: #f05a5c;
  text-shadow: 0px 5px 10px rgba(240, 90, 92, 0.3);
}

.floating .icons i {
  margin-top: 20px;
  font-size: 1.3em;
  width: 40px;
  height: 40px;
  position: absolute;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.floating .floating__input {
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 100%;
  background: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 1.8rem 0 0.6rem 1rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  caret-color: var(--color-tags);
  border-bottom: 2px solid var(--input__border) !important;
}

.floating .floating__input:hover, .floating .floating__input:focus-within {
  background-color: var(--field__background--hover);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.floating .floating__input:focus-within {
  border: 2px solid var(--color-tags) !important;
}

.floating .floating__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0);
}

.floating .floating__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0);
}

.floating .floating__input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0);
}

.floating .floating__input::placeholder {
  color: rgba(0, 0, 0, 0);
}

.floating .floating__label {
  display: block;
  position: relative;
  max-height: 0;
  font-weight: 500;
  pointer-events: none;
}

.floating .floating__label::before {
  color: var(--label__color);
  content: attr(data-content);
  display: inline-block;
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  left: 1rem;
  position: relative;
}

.floating .floating__input:focus + .floating__label::after {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  opacity: 1;
}

.floating .floating__input:placeholder-shown + .floating__label::before {
  -webkit-transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
          transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
}

.floating .floating__label::before,
.floating .floating__input:focus + .floating__label::before {
  -webkit-transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1);
          transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1);
}

.floating .floating__input:focus + .floating__label::before {
  color: var(--color-tags);
  font-weight: 600;
}

.floating:nth-child(5) {
  opacity: 0;
}

.floating .status {
  visibility: collapse;
  padding: 10px 10px;
  opacity: 1;
  font-weight: 700;
  text-align: center;
  color: white;
  border-radius: 4px;
}

.privacy {
  max-width: 100%;
  margin-top: -10px !important;
  text-align: center;
  margin: auto;
}

.privacy .personal {
  margin-top: 0;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.70em;
}

.privacy .personal a {
  color: var(--color-tags);
  text-decoration: none;
}

@-webkit-keyframes button-anim {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes button-anim {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=colapse.css.map */