.collapse {
  margin: 0px;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.4s;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.301);
  border-radius: 10px;
  margin-top: 20px;

  &.active {
    max-height: 100vh;
    transition: all 0.2s, max-height 2s;
  }
}

.action-btn {
  background-color: var(--color-tags);
  width: 100%;
  margin-top: 1rem;
  color: white;
  border: 2px solid var(--color-tags);
  font-size: 15px;
  letter-spacing: 2px;
  border-radius: 4px;
  outline: 0;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px;
  cursor: pointer;
  position: relative;
  display: block;
  transition: 0.2s ease-in;

  &:hover {
    background-color: var(--color-tags-darker);
    border-color: var(--color-tags-darker);
  }

  &::after {
    content: '';
    display: block;
    width: 1.4em;
    height: 1.4em;
    position: absolute;
    left: calc(50% - 0.75em);
    top: calc(50% - 0.85em);
    border: 0.2em solid transparent;
    border-radius: 50%;
    animation: button-anim 0.7s linear infinite;
    opacity: 0;
  }

  &.loading {
    color: transparent;
  }

  &.loading::after {
    opacity: 1;
  }

}

.contactInfo {
  display: flex;
  flex-wrap: wrap;

  .sides {
    width: 100%;
    background-color: white;
    padding: 12px;
    padding-bottom: 0px;
    border-radius: 8px;
    margin: 20px;

    form {
      padding-bottom: 0px;
    }
  }
}

.floating {
  background-color: var(--field__background);
  transition: background-color 0.2s ease;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  &:not(:first-child) {
    margin-top: 1.5em;
  }

  textarea {
    min-width: 100%;
    max-width: 100%;
    resize: none;
  }

  textarea.floating__input {
    &::placeholder {
      color: #444 !important;
      font-size: 1.2em;
      font-weight: 600;
    }
  }

  input.valid,
  input.valid:focus-within,
  textarea.valid,
  textarea.valid:focus-within {
    border-color: #3aba6f !important;
  }


  input.invalid,
  input.invalid:focus-within,
  textarea.invalid,
  textarea.invalid:focus-within {
    border-color: #f05a5c !important;
  }

  input.valid~.icons .check,
  textarea.valid~.icons .check {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  input.invalid~.icons .x,
  textarea.invalid~.icons .x {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  .icons {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    width: 40px;
    height: 100%;
    transition: all .25s;

    .check {
      color: #3aba6f;
      text-shadow: 0px 5px 10px rgba(58, 186, 111, 0.3);
    }

    .x {
      color: #f05a5c;
      text-shadow: 0px 5px 10px rgba(240, 90, 92, 0.3);
    }

    i {
      margin-top: 20px;
      font-size: 1.3em;
      width: 40px;
      height: 40px;
      position: absolute;
      transition: all .25s ease;
      opacity: 0;
      visibility: hidden;
      transform: scale(.5);
    }
  }

  .floating__input {
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    background: none;
    user-select: none;
    padding: 1.8rem 0 0.6rem 1rem;
    transition: all 0.2s ease;
    caret-color: var(--color-tags);
    border-bottom: 2px solid var(--input__border) !important;

    &:hover,
    &:focus-within {
      background-color: var(--field__background--hover);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:focus-within {
      border: 2px solid var(--color-tags) !important;
    }

    &::placeholder {
      color: rgba(0, 0, 0, 0);
    }
  }

  .floating__label {
    display: block;
    position: relative;
    max-height: 0;
    font-weight: 500;
    pointer-events: none;

    &::before {
      color: var(--label__color);
      content: attr(data-content);
      display: inline-block;
      filter: blur(0);
      backface-visibility: hidden;
      transform-origin: left top;
      transition: transform 0.2s ease;
      left: 1rem;
      position: relative;
    }
  }

  .floating__input:focus+.floating__label::after {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  .floating__input:placeholder-shown+.floating__label::before {
    transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
  }

  .floating__label::before,
  .floating__input:focus+.floating__label::before {
    transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1);
  }

  .floating__input:focus+.floating__label::before {
    color: var(--color-tags);
    font-weight: 600;
  }

  .status {
    display: none;
    padding: 10px 10px;
    opacity: 1;
    font-weight: 700;
    text-align: center;
    color: rgba(255, 255, 255, 0.788);
    border-radius: 4px;
  }
}

.privacy {
  max-width: 100%;
  margin-top: -10px !important;
  text-align: center;
  margin: auto;

  .personal {
    margin-top: 0;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.70em;

    a {
      color: var(--color-tags);
      text-decoration: none;
    }
  }
}


@keyframes button-anim {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}