.form-wrapper {
  width: 80%;
  background-color: var(--color-dark);
  border-radius: 12px;
  margin: 0 auto;
  display: flex;
}

.form-inner {
  padding: 2rem;
  width: 100%;
  text-align: left;
}

h1 {
  max-width: 100%;
}
.form-wrapper p {
  color: #999;
}

strong {
  color: var(--main-color);
}

a {
  color: var(--main-color);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

input,
textarea {
  appearance: none;
  border-radius: 8px;
  max-width: 100%;
  min-width: 100%;
}

textarea {
  overflow: hidden;
}

.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 1.5rem;
}

.input-label {
  color: #999;
  position: absolute;
  top: 3rem;
  left: 1.5rem;
  transition: 0.3s ease;
}

.input-field {
  border: 0;
  z-index: 1;
  border: 2px solid #999;
  font-size: 1rem;
  background-color: #2d2d2d;
  background: transparent;
  padding: 20px;
  padding-top: 25px;
}

.input-field:focus {
  outline: 0;
  border-color: var(--main-color);
}

.input-field:valid + .input-label {
  color: var(--main-color);
  transform: translateY(-1rem);
}

.input-field:focus + .input-label {
  color: var(--main-color);
  transform: translateY(-1rem);
}

.input-field.valid {
  border-color: var(--valid-green);
}

.input-field.invalid {
  border-color: var(--invalid-red);
}

.asterisk {
  margin-left: 2px;
  color: var(--invalid-red);
}

small {
  color: var(--invalid-red);
  margin-top: 10px;
  transform: translateY(-30px);
}
.input-field.invalid ~ small {
  animation: drop 0.3s ease-in-out forwards;
}

.submit_btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  position: relative;
  background: var(--main-color);
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}

.submit_btn:active {
  background: var(--main-color-dark);
}

.submit_btn:hover {
  background: var(--main-color-dark);
}

.button_text {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.2s;
}

.button-loading .button_text {
  visibility: hidden;
  opacity: 0;
}

.button-loading::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

.sent,
.not-sent {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.sent {
  background-color: var(--valid-green);
}

.not-sent {
  background-color: var(--invalid-red);
}

@keyframes drop {
  to {
    transform: translateY(0);
  }
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  .form-wrapper {
    width: 100%;
  }
}
