.button {
  border: 2px solid var(--color-tags);
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  color: white;
  padding: 1em 1.25em;
  font-weight: 400;
  background-color: transparent;
  border-radius: 42px;
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  outline: none;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.1rem;
}

.button:hover {
  background-color: var(--color-tags);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-light);
  padding: 50px 30px 10px 30px;
  position: relative;
  margin-top: 7rem;
}

.footer h2 {
  margin-top: 4rem;
  text-align: center;
  color: white;
}

.footer p {
  margin-top: 2rem;
  max-width: 100%;
  color: white;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.footer .social a {
  -webkit-box-shadow: 3px 3px var(--text-white-dark);
          box-shadow: 3px 3px var(--text-white-dark);
  color: white;
  background: var(--color-dark-footer);
  border-radius: 8px;
  text-decoration: none;
  font-family: fontawesome;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-font-smoothing: antialiased;
}

.footer .social a:nth-of-type(1):hover {
  background-color: var(--facebook-blue);
}

.footer .social a:nth-of-type(2):hover {
  background-color: var(--github-purple);
}

.footer .social a:nth-of-type(3):hover {
  background-color: var(--linkedin-blue);
}

.footer .social a:nth-of-type(4):hover {
  background-color: var(--stackoverflow-orange);
}

.footer .social a:hover > i {
  -webkit-animation: toBottomFromTop 0.5s var(--te) both;
          animation: toBottomFromTop 0.5s var(--te) both;
}

.footer .social a i {
  position: static;
  font-style: normal;
}

.footer .social a:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.footer .contactUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 12px;
  margin-top: -7rem;
  width: 85%;
  height: auto;
  padding: 30px;
  background: url(../resources/contactUS.jpg) no-repeat fixed;
  background-size: cover;
  background-position: center center;
  -webkit-box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}

.footer .contactUs .columns {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.footer .contactUs .columns:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
}

.footer .contactUs .columns h1 {
  font-size: 2rem;
  color: white;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 0.67em;
  letter-spacing: -1px;
}

.footer .contactUs .columns p {
  color: white;
  max-width: 100%;
  font-size: 1.1rem;
  margin-top: 0.67em;
}

.collapse {
  margin: 0px;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.301);
  border-radius: 10px;
}

.collapse #hidden {
  padding-left: 30px;
  padding-top: 10px;
}

.collapse.active {
  color: #444;
  max-height: 100vh;
  -webkit-transition: all 0.2s, max-height 2s;
  transition: all 0.2s, max-height 2s;
}

.collapse .slide {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin: 0px !important;
  padding: 10px !important;
}

.input-group {
  margin-top: 1em;
  width: 100%;
}

.input-group input {
  width: 50%;
  background: none;
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #5c5c5c;
}

.input-group input:focus {
  outline: none;
}

.input-group input:focus ~ .bar:before {
  width: 50%;
  padding: 0 10px 0 5px;
}

.input-group .bar {
  position: relative;
  display: block;
  width: 100%;
}

.input-group .bar:before {
  content: "";
  height: 3px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: var(--color-tags);
  -webkit-transition: 400ms ease all;
  transition: 400ms ease all;
  left: 0%;
}

.action-btn {
  background-color: var(--color-tags);
  text-decoration: none;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  color: white;
  border: 2px solid;
  font-size: 15px;
  letter-spacing: 2px;
  border-radius: 4px;
  outline: 0;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  position: relative;
  display: block;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.action-btn:hover {
  background-color: var(--color-light);
}

.action-btn::after {
  content: '';
  display: block;
  width: 1.2em;
  height: 1.2em;
  position: absolute;
  left: calc(50% - 0.75em);
  top: calc(50% - 0.75em);
  border: 0.15em solid transparent;
  border-right-color: white;
  border-radius: 50%;
  -webkit-animation: button-anim 0.7s linear infinite;
          animation: button-anim 0.7s linear infinite;
  opacity: 0;
}

.action-btn.loading {
  color: transparent;
}

.action-btn.loading::after {
  opacity: 1;
}

@-webkit-keyframes button-anim {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes button-anim {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=footer.css.map */