.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
  background-color: var(--color-dark);
  padding: 50px 30px 10px 30px;
  position: relative;
  margin-top: 8rem;

  h2 {
    margin-top: 4rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.788);
    font-size: calc(0.9rem + 2vmin);
  }

  .copyright {
    margin-bottom: 0;
    margin-top: 1rem;
    max-width: 100%;
    color: rgba(255, 255, 255, 0.788);
    font-size: calc(0.3rem + 2vmin);
  }

  .contactUs {
    border: 2px solid var(--color-light);
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
    margin-top: -7rem;
    width: 85%;
    height: auto;
    padding: 30px;
    background: url(../resources/contactUS.webp) no-repeat fixed;
    background-size: cover;
    background-position: center center;

    .columns {
      flex: 1 1 300px;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      &:nth-child(1) {
        flex: 1 1 350px;
      }

      h1 {
        font-size: 1.8rem;
        color: rgba(255, 255, 255, 0.788);
        font-weight: 600;
        line-height: 1.125;
        margin-bottom: 0;
        letter-spacing: 2px;
      }

      p {
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.788);
        max-width: 100%;
        margin-top: 0.67em;
      }
    }

  }

  .social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;


    a {
      color: rgba(255, 255, 255, 0.788);
      background: var(--color-tertiary);
      border-radius: 50%;
      text-decoration: none;
      font-family: fontawesome;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      margin: 0 20px;
      transition: all .3s;
      -webkit-font-smoothing: antialiased;

      &:nth-of-type(1):hover {
        color: var(--facebook-blue);
        border: 3px solid var(--facebook-blue);
      }

      &:nth-of-type(2):hover {
        color: var(--github-purple);
        border: 3px solid var(--github-purple);
      }

      &:nth-of-type(3):hover {
        color: var(--linkedin-blue);
        border: 3px solid var(--linkedin-blue);
      }

      &:nth-of-type(4):hover {
        color: var(--stackoverflow-orange);
        border: 3px solid var(--stackoverflow-orange);
      }

      &:nth-of-type(5):hover {
        color: var(--spotify-green);
        border: 3px solid var(--spotify-green);

      }

      &:hover>i {
        animation: toBottomFromTop 0.5s var(--te) both;
      }
      i {
        position: static;
        font-style: normal;
      }
    }

  }
}

@media (max-width:650px) {
  .social {
    a {
      margin-top: 1rem !important;
    }
  }
}

@keyframes toBottomFromTop {
  49% {
    transform: translateY(100%);
  }

  50% {
    opacity: 0;
    transform: translateY(-100%);
  }

  51% {
    opacity: 1;
  }
}