.introduction {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 4rem;
  position: relative;
  bottom: -50px;
  opacity: 0;
  animation: appear 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  margin: 0;
  height: 80vh;
}

.introduction .name {
  color: var(--main-color);
  font-weight: 700;
  font-size: 2.75rem;
  margin-top: 10px;
}

.introduction h3 {
  font-size: 1.2rem;
}

.introduction .introduction_content {
  flex-direction: column;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.introduction p {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.introduction strong {
  color: var(--main-color);
  font-weight: 600;
}

.contact_btn {
  padding: 10px 2rem;
  background-color: var(--main-color-dark);
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.2rem;
  transition: 0.3s;
  border-radius: 8px;
}

.contact_btn:hover {
  transition: 0.3s;
  background-color: var(--main-color);
}

.tags {
  list-style-type: none;
  padding: 0;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

.tags li {
  display: inline-flex;
}

.tags .tag {
  background: var(--main-color-dark);
  color: white;
  display: inline-block;
  padding: 5px 10px 5px 25px;
  border-radius: 90px 30px 30px 90px;
  position: relative;
  margin: 0 10px 10px 0;
  font-size: 1.1em;
  font-weight: 600;
}

.tag::before {
  content: "";
  width: 8px;
  height: 8px;
  background: white;
  position: absolute;
  top: 15px;
  left: 10px;
  border-radius: 90px;
}

.skills-title {
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  text-align: left;
  padding: 0 4%;
}

.row {
  margin-top: 2rem;
}

.hardskills {
  list-style-type: none;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.row ul li {
  width: 45%;
  display: inline-block;
  margin-right: 10px;
}

.row ul li em {
  position: absolute;
  display: block;
  margin-left: 16px;
  margin-top: 10px;
  z-index: 2;
  font-weight: 700;
  font-size: 1.1rem;
}

.row ul li div {
  margin-bottom: 35px;
  border-radius: 4px;
  background: var(--color-dark);
  height: 45px;
  overflow: hidden;
}

.row ul li div span {
  height: 45px;
  display: block;
  border-radius: 4px;
}

.row ul li div span {
  background: var(--main-color-dark);
}

.row ul li.java div span {
  width: 70%;
}

.row ul li.php div span {
  width: 60%;
}

.row ul li.javascript div span {
  width: 80%;
}

.row ul li.google div span {
  width: 95%;
}

.row ul li.kotlin div span {
  width: 75%;
}

.row ul li.sql div span {
  width: 65%;
}

h3.skills-title {
  margin-top: 10px;
}

.time-wrapper {
  margin-top: 3rem;
  border-radius: 12px;
}

.time-wrapper h2 {
  margin: 0;
}

.time-wrapper h2.main-titles {
  padding: 0 4%;
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  text-align: left;
}

.timeline {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 4rem;
}

.timeline::before {
  content: "";
  background: var(--main-color);
  width: 5px;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline .timeline-item {
  width: 100%;
  margin-bottom: 2em;
}

.timeline .timeline-item:nth-child(even) .timeline-content {
  float: right;
}

.timeline .timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 8px;
}

.timeline .timeline-item:nth-child(even) .timeline-content::after {
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}

.timeline .timeline-item::after {
  content: "";
  display: block;
  clear: both;
}

.timeline .timeline-content {
  width: 45%;
}

.timeline .timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline .timeline-img {
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -12px;
}

.timeline .timeline-card p {
  background-color: var(--color-dark);
  border-radius: 0 0 12px 12px;
  padding: 12px;
  text-align: center;
  margin: auto;
  font-size: 1.1rem;
}

.timeline .timeline-card .timeline-img-header {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  height: 200px;
  position: relative;
}

.timeline .timeline-card .timeline-img-header img {
  opacity: 0.6;
  transition: 0.3s all ease-in-out;
  height: 200px;
  width: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.timeline .timeline-card .timeline-img-header img:hover {
  opacity: 1;
}

.timeline .timeline-card .timeline-img-header h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}

.timeline .timeline-card .date {
  border-top-right-radius: 12px;
  background: var(--main-color-dark);
  display: inline-block;
  color: white;
  font-weight: 600;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.anim {
  transform: translateY(150px);
}

.slideUp {
  animation: slideUp 1s ease-out 0s 1 forwards;
}

.fadeInLeft {
  animation: 2s ease-out 0s 1 fadeInLeft forwards;
}

@media (max-width: 426px) {
  .timeline::before {
    left: -5px;
  }
  .timeline .timeline-img {
    left: -5px;
  }
  .timeline .timeline-content {
    margin-left: 30px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .introduction .name {
    font-size: 4.75rem;
  }

  .introduction h3 {
    font-size: 1.8rem;
  }

  .introduction p {
    font-size: 2rem;
    max-width: 70%;
  }

  .contact_btn {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .tags {
    width: 100%;
  }

  .timeline {
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  .row ul li {
    width: 100%;
  }

  .skills-title {
    padding: 0;
  }

  .time-wrapper h2.main-titles {
    padding: 0;
  }

  .timeline {
    max-width: 90%;
  }
  .timeline::before {
    left: 10px;
  }
  .timeline .timeline-img {
    left: 10px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 50px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
  .timeline .anim {
    transform: translateY(150px);
  }
}

@keyframes appear {
  100% {
    opacity: 1;
    transform: translateY(-50px);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}
