.sectionPic {
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  align-items: center;

  .introduction {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 50%;

    h3 {
      animation: appear 1.2s cubic-bezier(.215, .61, .355, 1) 0.25s 1 backwards;
    }

    h1 {
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 700;
      color: var(--color-tags);
      line-height: 1;
      font-size: 4rem;
      animation: appear 1.2s cubic-bezier(.215, .61, .355, 1) .40s backwards;
    }
  }

  h2 {
    animation: appear 1.2s cubic-bezier(.215, .61, .355, 1) .42s backwards;
    text-decoration: underline;
    text-decoration-color: var(--color-tags);
  }

  .text-block {
    padding-top: 1rem;
    padding-right: 4rem;
    font-size: 1.375rem;
    line-height: 32px;
    font-weight: 400;
    color: #d4d4d4c4;
    animation: appear 1.2s cubic-bezier(.215, .61, .355, 1) .44s backwards;
  }

  a {
    animation: appear 1.2s cubic-bezier(.215, .61, .355, 1) .46s backwards;
  }
}

.image {
  align-items: flex-end;
}

.time-wrapper {
  animation: helloImHere 3s ease-in-out 1s 1 forwards;
  padding: 20px;
  background-color: var(--color-dark);
  border-radius: 12px;

  h2 {
    margin: 0;
  }
}

.timeline {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 4rem;

  &::before {
    content: '';
    background: var(--color-tags);
    width: 5px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline-item {
    width: 100%;
    margin-bottom: 2em;

    &:nth-child(even) {
      .timeline-content {
        float: right;

        .date {
          right: auto;
          left: 0;
          border-top-right-radius: 0;
          border-top-left-radius: 8px;
        }

        &::after {
          top: 30px;
          left: -15px;
          border-width: 10px 15px 10px 0;
          border-color: transparent #f5f5f5 transparent transparent;
        }
      }
    }

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .timeline-content {
    width: 45%;

    &::after {
      content: '';
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: 30px;
      right: -15px;
      border-width: 10px 0 10px 15px;
      border-color: transparent transparent transparent #f5f5f5;
    }
  }

  .timeline-img {
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -12px;
  }

  .timeline-card {
    p {
      background-color: var(--color-tertiary);
      border-radius: 0 0 12px 12px;
      padding: 12px;
      text-align: center;
      margin: auto;
    }

    .timeline-img-header {
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
      height: 200px;
      position: relative;


      img {
        opacity: 0.6;
        transition: 0.3s all ease-in-out;
        height: 200px;
        width: 100%;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;

        &:hover {
          opacity: 1;
        }
      }

      h2 {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: white;
      }
    }

    .date {
      border-top-right-radius: 12px;
      background: var(--color-light);
      display: inline-block;
      color: white;
      font-weight: 600;
      padding: 10px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.skills {
  margin-top: 4rem;

  h3 {
    margin-top: 0;
  }

  .tags {
    width: 80%;
    margin: auto;
    margin-top: 2rem;

    li {
      display: inline-flex;
    }

    .tag {
      background: var(--color-tags);
      color: white;
      display: inline-block;
      padding: 5px 10px 5px 25px;
      border-radius: 90px 30px 30px 90px;
      position: relative;
      margin: 0 10px 10px 0;

      &::before {
        content: '';
        width: 8px;
        height: 8px;
        background: white;
        position: absolute;
        top: 10px;
        left: 10px;
        border-radius: 90px;
      }
    }
  }
  
  ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .hardskills {
    .row {
      width: 100%;
      display: inline-flex;
    }

    .row ul li {
      width: 30%;
      display: inline-block;
      list-style: none;
    }

    .row ul li em {
      display: block;
      margin-bottom: 15px;
      text-align: left;
    }

    .row ul li div {
      margin-bottom: 35px;
      border-radius: 4px;
      background: var(--color-secondary);
      height: 30px;
      overflow: hidden;
    }

    .row ul li div span {
      height: 30px;
      display: block;
      border-radius: 4px;
    }

    .row ul li div span {
      background: var(--color-tags);
    }

    .row ul li.java div span {
      width: 75%;
    }

    .row ul li.php div span {
      width: 60%;
    }

    .row ul li.javascript div span {
      width: 80%;
    }

    .row ul li.haskell div span {
      width: 55%;
    }

    .row ul li.kotlin div span {
      width: 70%;
    }

    .row ul li.sql div span {
      width: 70%;
    }
  }
}

.fadeInLeft {
  animation: 1s ease-out 0s 1 fadeInLeft forwards;
}

.anim {
  transform: translateY(150px);
}

.slideUp {
  animation: slideUp 1s ease-out 0s 1 forwards;
}

@media(max-width: 900px) {
  .timeline {
    max-width: 90%;

    &::before {
      left: 10px;
    }

    .timeline-img {
      left: 10px;
    }

    .timeline-content {
      max-width: 100%;
      width: auto;
      margin-left: 50px;
    }

    .timeline-item {
      &:nth-child(even) {
        .timeline-content {
          float: none;
        }
      }

      &:nth-child(odd) {
        .timeline-content {
          &::after {
            content: '';
            position: absolute;
            border-style: solid;
            width: 0;
            height: 0;
            top: 30px;
            left: -15px;
            border-width: 10px 15px 10px 0;
            border-color: transparent #f5f5f5 transparent transparent;
          }
        }
      }
    }

    .anim {
      transform: translateY(150px);
    }
  }
}

@media (min-width: 769px) {
  :root {
    --translation: -80px;
  }
}

@media (max-width:768px) {
  .sectionPic {
    width: 100%;
    justify-content: center;
    text-align: center;

    .text-block {
      padding-right: 0;
    }

    .introduction {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  .timeline {
    max-width: 100%;
  }

  .hardskills {
    .row ul li {
      width: 100% !important;
      display: block;
      list-style: none;
    }

    .tags {
      width: 100%;
    }
  }

  .knowMore {
    position: relative !important;
  }

  :root {
    --translation: -90px;
  }
}

@media(max-width:426px) {
  .timeline {
    &::before {
      left: -5px;
    }

    .timeline-img {
      left: -5px;
    }

    .timeline-content {
      margin-left: 30px;
      width: 100%;
    }
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}

@keyframes helloImHere {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(var(--translation));
  }

  100% {
    transform: translateY(0);
    background-color: transparent;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(8px)
  }
}