h1 {
  font-size: calc(1.5rem + 4vmin);
  font-weight: 700;
  margin-bottom: 2rem;
}

p {
  line-height: 1.4;
}

a {
  font-weight: 700;
}

.sectionPic {
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionPic .introduction {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sectionPic .introduction h1 {
  text-shadow: 0 0 5px var(--color-neon2), 0 0 15px var(--color-neon2), 0 0 20px var(--color-neon2), 0 0 40px var(--color-neon2), 0 0 60px var(--color-neon3), 0 0 10px var(--color-neon4), 0 0 98px var(--color-neon3);
  color: var(--color-neon);
  text-align: center;
  -webkit-animation: blink 6s infinite;
          animation: blink 6s infinite;
}

.sectionPic .introduction h3 {
  color: var(--text-white-dark);
}

.sectionPic .introduction h3:nth-of-type(2) {
  -webkit-text-decoration: underline solid var(--color-tags);
          text-decoration: underline solid var(--color-tags);
}

.sectionPic .introduction h1 {
  color: var(--color-tags);
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.sectionPic .image {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.life_events {
  margin-top: 5rem !important;
}

.life_events span {
  font-size: small;
}

.timeline {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 3rem !important;
}

.timeline::before {
  content: '';
  background: var(--color-tags);
  width: 4px;
  height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 2rem;
}

.timeline-item:nth-child(even) .date {
  border-top-right-radius: 0;
  border-top-left-radius: 8px;
}

.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}

.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}

.timeline-item:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}

.timeline-item::after {
  content: '';
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 12px;
  background: var(--color-dark);
  -webkit-box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}

.timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -12px;
}

.timeline a {
  background: var(--color-tags);
  color: var(--text-white-dark);
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
          box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
}

.timeline a:hover, .timeline a:active, .timeline a:focus {
  background: #282a2b;
  color: var(--text-white-dark);
  text-decoration: none;
}

.timeline-card {
  padding: 0 !important;
}

.timeline-card p {
  padding: 0 12px 12px 12px;
  text-align: center;
  margin: auto;
}

.timeline-img-header {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}

.timeline-img-header img {
  opacity: 0.5;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  height: 200px;
  width: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.timeline-img-header img:hover {
  opacity: 1;
}

.timeline-img-header h2 {
  color: white;
  position: absolute;
  bottom: 3px;
  left: 20px;
}

.date {
  border-top-right-radius: 12px;
  background: var(--color-tags);
  display: inline-block;
  color: white;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.skills {
  margin-top: 0;
}

.skills .tags {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

.skills .tags li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.skills .tag {
  background: var(--color-tags);
  color: white;
  display: inline-block;
  padding: 5px 10px 5px 25px;
  border-radius: 90px 30px 30px 90px;
  position: relative;
  margin: 0 10px 10px 0;
}

.skills .tag:after {
  content: '';
  width: 8px;
  height: 8px;
  background: white;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 90px;
}

.skills h2,
.skills h3 {
  -webkit-text-decoration: underline solid var(--color-light);
          text-decoration: underline solid var(--color-light);
}

.skills h3 {
  margin: 0;
}

.skills ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
  text-align: center;
}

.skills .hardskills .row {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.skills .hardskills .row ul li {
  width: 30%;
  display: inline-block;
  list-style: none;
}

.skills .hardskills .row ul li em {
  display: block;
  margin-bottom: 15px;
  text-align: left;
}

.skills .hardskills .row ul li div {
  margin-bottom: 35px;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  background: #2e2e2e;
  height: 30px;
  overflow: hidden;
}

.skills .hardskills .row ul li div span {
  height: 30px;
  display: block;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
}

.skills .hardskills .row ul li div span {
  background: var(--color-tags);
}

.skills .hardskills .row ul li.java div span {
  width: 75%;
}

.skills .hardskills .row ul li.php div span {
  width: 60%;
}

.skills .hardskills .row ul li.javascript div span {
  width: 80%;
}

.skills .hardskills .row ul li.haskell div span {
  width: 55%;
}

.skills .hardskills .row ul li.kotlin div span {
  width: 70%;
}

.skills .hardskills .row ul li.sql div span {
  width: 70%;
}

.fadeInLeft {
  -webkit-animation: 1s ease-out 0s 1 fadeInLeft forwards;
          animation: 1s ease-out 0s 1 fadeInLeft forwards;
}

.anim {
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
}

.slideUp {
  -webkit-animation: slideUp 1s ease-out 0s 1 forwards;
          animation: slideUp 1s ease-out 0s 1 forwards;
}

@media (max-width: 900px) {
  .timeline {
    max-width: 90%;
  }
  .timeline::before {
    left: 30px;
  }
  .timeline .timeline-img {
    left: 30px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}

@media (max-width: 768px) {
  .contactBtn {
    color: var(--color-primary);
    font-weight: 600;
    background-color: var(--color-tags);
  }
  .sectionPic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80vh;
    margin-top: 10vh;
  }
  .sectionPic .introduction {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .timeline {
    max-width: 100%;
  }
  .hardskills .row ul li {
    width: 100% !important;
    display: block;
    list-style: none;
  }
  .hardskills .tags {
    width: 100%;
  }
  .knowMore {
    position: relative !important;
  }
}

@media (max-width: 650px) {
  .break {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 0;
  }
  .social a {
    margin-top: 1rem !important;
  }
}

@media (max-width: 360px) {
  .social a:nth-child(1):hover {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .social a:nth-child(2):hover {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .social a:nth-child(3):hover {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .social a:nth-child(4):hover {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes slideUp {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideUp {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px var(--color-neon2), 0 0 15px var(--color-neon2), 0 0 20px var(--color-neon2), 0 0 40px var(--color-neon2), 0 0 60px var(--color-neon3), 0 0 10px var(--color-neon4), 0 0 98px var(--color-neon3);
    color: var(--color-neon);
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px var(--color-neon2), 0 0 15px var(--color-neon2), 0 0 20px var(--color-neon2), 0 0 40px var(--color-neon2), 0 0 60px var(--color-neon3), 0 0 10px var(--color-neon4), 0 0 98px var(--color-neon3);
    color: var(--color-neon);
  }
}
/*# sourceMappingURL=index.css.map */