.columns {
    flex: 1 1 300px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

//========================
// Contact Modal
//========================
.modal {
    margin-top: 5vh;
    display: block;
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0;
    top: 0;
    width: 100%;
    overflow-y: scroll;
    height: 90vh;
  
    .modal-header {
      background: url(../resources/contactHeader.jpg) no-repeat center;
      background-size: cover;
      overflow: hidden;
      color: #FFFFFF;
      border-radius: 8px 8px 0 0;
      text-align: center;
      background-color: none;

      .overlay {
        background-color: rgba(17, 17, 17, 0.850);
        overflow: hidden;
        height: 100%;
        z-index: 2;
        padding: 25px;
      }
    }
  
    .modal-body {
      background-color: var(--text-white-dark);
    }
  
    .modal-footer {
      padding: 10px 14px;
      background-color: var(--color-dark-footer);
      color: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border-radius: 0 0 8px 8px;
      height: auto;
  
      .columns {
        display: flex;
        flex-flow: column;
        flex: 1 1 200px;
        font-size: 1rem;
      }
  
      .infos {
        padding: 10px 10px 0 10px;
      }
    }
  
    .modal-content {
      border-radius: 8px;
      position: relative;
      margin: auto;
      padding: 0;
      width: 50%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
      animation-name: animatetop;
      animation-duration: 1s
    }
  
    .close {
      background: var(--color-tags);
      color: black;
      line-height: 25px;
      position: absolute;
      right: -10px;
      text-align: center;
      top: -10px;
      width: 24px;
      text-decoration: none;
      font-weight: bold;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
      transition: 0.3s;
  
      &:hover,
      &:focus {
        color: white;
        text-decoration: none;
        cursor: pointer;
      }
    }
  
    form {
     padding: 0px 30px;
      display: flex;
      flex-direction: column;     
    }     
}

.input-group{
    margin-top: 1em;
    width: 100%;
    input{
      width: 50%;
      background: none;
      font-size: 16px;
      padding: 10px 10px 10px 5px;
      border: none;
      border-radius: 0;
      border-bottom: 2px solid rgb(92, 92, 92);

        &:focus{  
          outline: none;
        }
    }
    input:focus ~ .bar:before {
      width: 50%;
      padding:0 10px 0 5px;
    }

    .bar {
      position: relative;
      display: block;
      width:100%;
    }
    .bar:before {
      content: "";
      height: 3px;
      width: 0;
      bottom: 0px;
      position: absolute;
      background: var(--color-tags);
      transition: 400ms ease all;
      left: 0%;
    }
}


.action-btn {
  background-color: var(--color-tags);
  text-decoration: none;
  max-width: fit-content;
  color: white;
  border: 2px solid;
  font-size: 15px;
  letter-spacing: 2px;
  border-radius: 4px;
  outline: 0;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  position: relative;
  display: block;
  transition: 0.2s ease-in;
}

.action-btn:hover {
  background-color: var(--color-light);
}


.action-btn::after {
  content: '';
  display: block;
  width: 1.2em;
  height: 1.2em;
  position: absolute;
  left: calc(50% - 0.75em);
  top: calc(50% - 0.75em);
  border: 0.15em solid transparent;
  border-right-color: white;
  border-radius: 50%;
  animation: button-anim 0.7s linear infinite;
  opacity: 0;
}

.action-btn.loading {
  color: transparent;
}

.action-btn.loading::after {
  opacity: 1;
}


@keyframes button-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}