.nav {
  margin-top: 2px;
  height: auto;
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  transition: all ease 0.4s;
  padding: 10px 10px 0px 10px;
  font-family: 'Varta', sans-serif;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  padding: 0px 10px 10px 50px;
}

.nav-title a{
  text-decoration: none;
  color: var(--color-tags);
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  letter-spacing: 2px;
}

.nav > .nav-links > a {
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #c0c0c0;
  transition: all ease 0.6s;
}

.nav > .nav-links > a:hover {
  color: var(--color-tags);
}

.nav > #nav-check {
  display: none;
}

#active{
  color: var(--color-tags);
}

@media (max-width: 768px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}