.nav {
    margin-top: 2px;
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    transition: all ease 0.4s;
    font-family: 'Varta', sans-serif;
    align-items: center;
    display: flex;

    #home {
        color: var(--color-tags);
    }
}

.nav-header {
    position: static;
    margin-top: 10px;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    padding: 0px 10px 10px 50px;
}

.nav-title a {
    text-decoration: none;
    color: var(--color-tags);
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    letter-spacing: 2px;

    .active {
        color: var(--color-tags);
    }


}

.nav>.nav-links>a {
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #c0c0c0;
    transition: all ease 0.3s;
}

.nav>.nav-links>a:hover {
    color: var(--color-tags);
}

.nav>#nav-check {
    display: none;
}

.nav-links {
    a:before {
        content: "{";
        left: 5px;
    }

    a:after {
        content: "}";
        right: 5px;
    }

    a:before,
    a:after {
        position: relative;
        opacity: 0;
        color: var(--color-tags);
        transition: all .5s;
    }

    a:hover:before,
    a:hover:after {
        opacity: 1;
    }

    a:hover:before {
        left: -5px;
    }

    a:hover:after {
        right: -5px;
    }
}

@media (max-width: 768px) {
    .nav>.nav-header .nav-title {
        padding: 0px 10px 10px 25px;
    }

    .nav {
        background-color: var(--color-nav) !important;
        box-shadow: 0 15px 25px -15px rgba(0, 0, 0, 0.6);
        align-items: center;
    }

    .nav>.nav-btn {
        display: block;
        margin-right: 25px;
        width: auto;
        position: relative;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: var(--color-nav);
        height: 0px;
        transition: all 0.4s ease-in-out;
        overflow: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        position: relative;
        padding: 13px;
        transform: rotate(0deg);
        transition: .5s ease-in-out;

        &:hover .middle-bar {
            width: 15px;
            margin-left: 5px;
        }

        .top-bar {
            top: 5px;

            &.open {
                top: 12px;
                left: 0px;
                transform: rotate(135deg);
            }
        }

        .middle-bar {
            top: 12px;

            &.open {
                opacity: 0;
                left: -60px;
            }
        }

        .bottom-bar {
            top: 20px;

            &.open {
                top: 12px;
                transform: rotate(-135deg);
            }
        }
    }

    .nav>.nav-btn>label>span {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        opacity: 1;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        border-top: 3px solid var(--color-tags);
    }

    .nav>.nav-btn>label:hover {
        cursor: pointer;
    }

    .nav>.nav-links>a {
        display: block;
        width: 80%;
    }

    .nav .nav-links {
        height: 0px;
    }

    header .nav .actived {
        height: 35vh !important;
    }
}