.projects {
    margin-top: 2em;

    .project-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tabs {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        width: 70%;

        .tab {
            user-select: none;
            cursor: pointer;
            width: 100%;
            padding: 10px;
            background-color: transparent;
            border: none;
            outline: none;
            color: rgba(255, 255, 255, 0.788);
            letter-spacing: 2px;
            font-size: large;
            font-weight: 500;
            transition: all 0.2s ease-in-out;

            &.chosen {
                color: var(--color-tags);
                border-bottom: 2px solid var(--color-tags);
            }

            &:hover {
                background-color: var(--color-background);
            }
        }
    }

    .btn-scroll {
        align-items: center;
        text-align: center;
        margin-top: 2rem;

        .scrolls {
            border: none;
            outline: none;
        }
    
        .arrow {
            width: 2em;
            height: 2em;
            background: transparent;
            border-top: 4px solid rgba(255, 255, 255, 0.781);
            border-right: 4px solid rgba(255, 255, 255, 0.781);
            box-shadow: 0 0 0 var(--color-tags);
            transition: all 200ms ease;
            
            &.left {
                left: 0;
                transform: translate3d(0,-50%,0) rotate(-135deg);
            }
        
            &.right {
                right: 0;
                transform: translate3d(0,-50%,0) rotate(45deg);
            }
            
            &:hover {
                border-color: var(--color-tags);
                box-shadow: 4px -4px 0 rgba(255, 255, 255, 0.781);
            }

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-40%,-60%) rotate(45deg);
                width: 200%;
                height: 200%;
            }
        }
    }

    
    .carousel {
        width: 100%;
        align-items: center;
    }

    .row {
        margin-top: 20px;
        width: 100%;
        display: flex;
    }

    .carousel-inner {
        padding: 20px;  
        scroll-behavior: smooth;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-x: scroll;
        white-space: nowrap;
        transition: 450ms transform;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .tile {
        border-radius: 10px;
        background-color: var(--color-tertiary);
        position: relative;
        display: inline-block;
        width: 250px;
        height: 300px;
        margin: 10px;
        cursor: pointer;
        transition: 1000ms all;
        transform-origin: center left;
    }

    .tile__img {
        width: 250px;
        height: 150px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .img-back{
        width: 250px;
        height: 150px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .tile__img:hover{
       opacity: 0;
    }

    .tile:hover .tile__details {
        opacity: 1;
    }

    .tile__title {
        padding: 10px;
    }

    .carousel-inner:hover .tile {
        opacity: 0.3;
    }

    .carousel-inner:hover .tile:hover {
        transform: scale(1.2);
        opacity: 1;
    }

    .tile:hover~.tile {
        transform: translate3d(50px, 0, 0);
    }
}