.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.projects h2 {
  text-align: left;
  font-size: 1.6rem;
  margin-top: 1.3rem;
}

.projects .properties {
  color: var(--main-color);
}

.tabs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2rem;
}

.tabs {
  cursor: pointer;
  position: relative;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 0;
  border-bottom: 2px solid var(--main-color);
}

.tabs .presentation-slider {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.tab {
  z-index: 2;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: var(--secondary-color);
  outline: none;
  color: var(--text-color);
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tab.chosen {
  color: var(--text-color);
  font-weight: 600;
}

.tab:hover:not(.chosen) {
  color: var(--main-color);
}

.tab:first-child.chosen ~ .presentation-slider {
  -webkit-transform: translateX(0) scaleX(0.333);
  -ms-transform: translateX(0) scaleX(0.333);
  transform: translateX(0) scaleX(0.333);
}

.tab:nth-child(2).chosen ~ .presentation-slider {
  -webkit-transform: translateX(33.333%) scaleX(0.333);
  -ms-transform: translateX(33.333%) scaleX(0.333);
  transform: translateX(33.333%) scaleX(0.333);
}

.tab:nth-child(3).chosen ~ .presentation-slider {
  -webkit-transform: translateX(calc(33.333% * 2)) scaleX(0.333);
  -ms-transform: translateX(calc(33.333% * 2)) scaleX(0.333);
  transform: translateX(calc(33.333% * 2)) scaleX(0.333);
}

.projects_gallery {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  height: 100%;
  gap: 10px;
  max-width: 100%;
  -ms-grid-columns: (minmax(275px, 1fr)) [auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-auto-rows: 200px;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.project_tall {
  -ms-grid-row-span: 2;
  grid-row: span 2 / auto;
}

.project_item {
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  -webkit-animation: getProjects 0.4s linear;
  animation: getProjects 0.4s linear;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  max-width: 100%;
  background-color: var(--highlight-color);
}

.project_item:hover {
  z-index: 10;
}

.project_item:hover {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.project_item img {
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
  object-fit: fill;
}

.project_item:hover .show {
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.show {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-dark-transparent);
}

.project_info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  height: 100%;
  width: 100%;
}

.project_info .title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 1.4rem;
}

.project_info p {
  max-width: 80%;
  text-align: center;
}

.project_info a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 600;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 10px;
  letter-spacing: 2px;
  background-color: var(--main-color);
}

.project_info a:hover {
  background-color: var(--main-color-dark);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.project_tall .project_info {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@-webkit-keyframes getProjects {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes getProjects {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (min-width: 768px) {
  .projects h2 {
    font-size: 3rem;
  }
  .tabs-wrapper {
    margin-top: 3rem;
  }
}

@media (max-width: 768px) {
  .project_item {
    opacity: 1;
  }
}
