.projects {
  margin-top: 2em;
}

.projects .project-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .tabs {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  width: 70%;
}

.projects .tabs .tab {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.788);
  letter-spacing: 2px;
  font-size: large;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.projects .tabs .tab.chosen {
  color: var(--color-tags);
  border-bottom: 2px solid var(--color-tags);
}

.projects .tabs .tab:hover {
  background-color: var(--color-background);
}

.projects .btn-scroll {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.projects .btn-scroll .scrolls {
  border: none;
  outline: none;
}

.projects .btn-scroll .arrow {
  width: 2em;
  height: 2em;
  background: transparent;
  border-top: 4px solid rgba(255, 255, 255, 0.781);
  border-right: 4px solid rgba(255, 255, 255, 0.781);
  -webkit-box-shadow: 0 0 0 var(--color-tags);
          box-shadow: 0 0 0 var(--color-tags);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.projects .btn-scroll .arrow.left {
  left: 0;
  -webkit-transform: translate3d(0, -50%, 0) rotate(-135deg);
          transform: translate3d(0, -50%, 0) rotate(-135deg);
}

.projects .btn-scroll .arrow.right {
  right: 0;
  -webkit-transform: translate3d(0, -50%, 0) rotate(45deg);
          transform: translate3d(0, -50%, 0) rotate(45deg);
}

.projects .btn-scroll .arrow:hover {
  border-color: var(--color-tags);
  -webkit-box-shadow: 4px -4px 0 rgba(255, 255, 255, 0.781);
          box-shadow: 4px -4px 0 rgba(255, 255, 255, 0.781);
}

.projects .btn-scroll .arrow:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -60%) rotate(45deg);
          transform: translate(-40%, -60%) rotate(45deg);
  width: 200%;
  height: 200%;
}

.projects .carousel {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .row {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects .carousel-inner {
  padding: 20px;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-transition: 450ms -webkit-transform;
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
}

.projects .carousel-inner::-webkit-scrollbar {
  display: none;
}

.projects .tile {
  border-radius: 10px;
  background-color: var(--color-tertiary);
  position: relative;
  display: inline-block;
  width: 250px;
  height: 300px;
  margin: 10px;
  cursor: pointer;
  -webkit-transition: 1000ms all;
  transition: 1000ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.projects .tile__img {
  width: 250px;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.projects .tile:hover .tile__details {
  opacity: 1;
}

.projects .tile__title {
  padding: 10px;
}

.projects .carousel-inner:hover .tile {
  opacity: 0.3;
}

.projects .carousel-inner:hover .tile:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

.projects .tile:hover ~ .tile {
  -webkit-transform: translate3d(50px, 0, 0);
          transform: translate3d(50px, 0, 0);
}
/*# sourceMappingURL=projects.css.map */