.projects {
    margin-top: 2em;

    .project-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tabs {
        position: relative;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        width: 70%;
        padding-bottom: 0;

        & .presentation-slider {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--color-light);
            transform-origin: 0 0;
            transition: transform .25s;
        }

        .tab {
            user-select: none;
            cursor: pointer;
            width: 33.33333%;
            padding: 10px;
            background-color: transparent;
            border: none;
            outline: none;
            color: rgba(255, 255, 255, 0.788);
            letter-spacing: 2px;
            font-size: large;
            font-weight: 500;
            transition: all 0.2s ease-in-out;

            &.chosen {
                color: var(--color-tags);
                font-weight: 600;
            }

            &:hover {
                background-color: var(--color-background);
            }

            &:first-child.chosen~.presentation-slider {
                transform: translateX(0) scaleX(0.333);
            }

            &:nth-child(2).chosen~.presentation-slider {
                transform: translateX(33.333%) scaleX(0.333);
            }

            &:nth-child(3).chosen~.presentation-slider {
                transform: translateX(calc(33.333% * 2)) scaleX(0.333);
            }
        }
    }

    .btn-scroll {
        align-items: center;
        text-align: center;
        margin-top: 2.5rem;

        .scrolls {
            border: none;
            outline: none;
        }

        .arrow {
            width: 2em;
            height: 2em;
            background: transparent;
            border-top: 4px solid rgba(255, 255, 255, 0.781);
            border-right: 4px solid rgba(255, 255, 255, 0.781);
            box-shadow: 0 0 0 var(--color-tags);
            transition: all 200ms ease;

            &.left {
                left: 0;
                transform: translate3d(0, -50%, 0) rotate(-135deg);
            }

            &.right {
                right: 0;
                transform: translate3d(0, -50%, 0) rotate(45deg);
            }

            &:hover {
                border-color: var(--color-tags);
                box-shadow: 4px -4px 0 rgba(255, 255, 255, 0.781);
            }

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-40%, -60%) rotate(45deg);
                width: 200%;
                height: 200%;
            }
        }
    }


    .carousel {
        width: 100%;
        align-items: center;
    }

    .row {
        margin-top: 20px;
        width: 100%;
        display: flex;
    }

    .carousel-inner {
        padding: 30px;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-x: scroll;
        white-space: nowrap;
        transition: 450ms transform;
        scroll-snap-type: x mandatory;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .tile {
        scroll-snap-align: start;
        background-color: var(--color-tertiary);
        position: relative;
        display: inline-block;
        width: 300px;
        height: auto;
        margin: 10px;
        cursor: pointer;
        border-radius: 14px;
        transition: 1000ms all;
        transform-origin: center left;
        box-shadow: 0px 0px 10px rgba(36, 36, 36, 0.253);
    }
    .tile__img {
        width: 300px;
        height: 200px;
        border-radius: 14px;
    }

    .img-back {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 200px;
        border-radius: 14px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .more {
        width: 100%;
        height: 100%;
        border-radius: 14px;
        position: absolute;
        visibility: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-weight: 600;
        justify-content: center;
        background-color: var(--color-light-transparent);
        transition: visibility 0.3s linear, opacity 0.3s linear;
        &p{
            margin-top: 0;
        }
    }

    .tile:hover .tile__img {
        opacity: 0;
    }

    .tile:hover .more {
        opacity: 1;
        visibility: visible;
    }

    .carousel-inner:hover .tile {
        opacity: 0.3;
    }

    .carousel-inner:hover .tile:hover {
        opacity: 1;
        transform: scale(1.2);

        &:last-child {
            transform: scale(1.2) translateX(-20px);
        }
    }

    .tile:hover~.tile {
        transform: translate3d(50px, 0, 0);
    }
}

@media(max-width: 768px){
    .projects-title{
        text-align: center;
    }
}

@media(max-width:425px){

}